.UsersList {
  display: flex;
  justify-content: center;
  min-width: 50%;
}

.UserDiv {
  display: flex;
  justify-content: center;
  max-width: 600px;
  min-width: 50%;
}
.UserUl {
  text-decoration: none;
  list-style: none;
  width: 420px;
}
.UserLi {
  background-color: #f3f3f3;
  margin-top: 24px;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  padding: 10px;
}

.userBtn {
  float: right;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #4b51ef;
  border: none;
  background-color: none;
}
